* {
    max-width: 100%;
    max-height: 100%;
}

body {
    background-image: url(image/body-bg.jpg);
}

.main-navbar {
    border-bottom: 1px solid #ccc;
}

.main-navbar .top-navbar {
    background-color: #198754;
    padding-top: 10px;
    padding-bottom: 10px;
}

.main-navbar .top-navbar .brand-name {
    color: #fff;
}

.main-navbar .top-navbar .nav-link {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

.main-navbar .top-navbar .dropdown-menu {
    padding: 0px 0px;
    border-radius: 0px;
}

.main-navbar .top-navbar .dropdown-menu .dropdown-item {
    padding: 8px 16px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
    background: #198754;
}

.main-navbar .top-navbar .dropdown-menu .dropdown-item i {
    width: 20px;
    text-align: center;
    color: #198754;
    font-size: 14px;
}

.main-navbar .navbar {
    padding: 0px;
    background-color: #ddd;
}

.main-navbar .navbar .nav-item .nav-link {
    padding: 8px 20px;
    color: #000;
    font-size: 15px;
}

.main-navbar .top-navbar .dropdown-menu .dropdown-item:hover {
    background: #ccc
}

.btn {
    line-height: 1.8;
    background-color: #198754;
    padding: 5px 13px;
    display: inline-block;
    color: #fff;
    text-transform: capitalize;
    font-family: inherit;
    font-size: 16px;
    cursor: pointer;
    user-select: none;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    transition: color 0.3s ease;
    z-index: 2;
}


.btn::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    background: #42bf85;
    height: 100%;
    width: 0;
    z-index: -1;
    transition: width 0.3s ease;
}

.btn:hover::before {
    width: 100%;
}

.user-box .btn {
    border-radius: .5rem;
    padding: 0 1.5rem;
}

.logout-btn {
    background: #4BB543;
    color: #fff;
    text-transform: uppercase;
    width: 11em;
    border-radius: .5rem;
    margin: .5rem 0;
    padding: .3rem 0;
}

.header .user-box.active {
    transform: scale(1.0);
    transition: .2s linear;
}

.cont {
    position: relative;
    text-align: center;
    color: white;

}

.shop {
    aspect-ratio: 1/1;
}

    @media only screen and (max-width: 600px) {
    .main-navbar .top-navbar .nav-link {
        font-size: 12px;
        padding: 8px 10px;
    }
}

@media only screen and (min-width: 768px) {
    .main-navbar .top-navbar .nav-link {
        font-size: 12px;
        padding: 8px 10px;
    }
}

@media only screen and (min-width: 992px) {
    .main-navbar .top-navbar .nav-link {
        font-size: 12px;
        padding: 8px 10px;
    }
}
